.wd-dot-img{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    alignment: center;
}
.wd-vera-container{
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(47,51,54);
    border-right: 1px solid rgb(47,51,54);
    margin-left: 6px;
    margin-right: 6px;
    /*padding: 16px;*/
}
.wd-last-container {
    padding-left: 12px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}
.wd-ver-container{
    display: flex;
    flex-direction: column;
}
